<div id="container" >
<h1>Detailtabelle für alle Meetings</h1>
<table id="reports" class="display">
  <thead>
    <tr>
      <th>Meeting</th>
      <th>Erstellt von</th>
      <th>Erstelldatum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td style="padding-right:10px"><%= meeting.name %></td>
        <td style="padding-right:10px"><%= meeting.user.full_name %></td>
        <td style="padding-right:10px"><%= meeting.created_at.strftime("[%d.%m.%y] um [%H:%M:%S]") %></td>
         </tr>
<% end %>
  </tbody>
</table>

<br>

<%= link_to 'Zurück zum Dashboard', home_path %>
</div>
