<div id="container" >
<p id="notice"><%= notice %></p>

<h1>Alle Meetings</h1>


  <%= render 'meetings' %>

<%= will_paginate @meetings %>
<br>

<%= link_to 'Zurück zum Dashboard', home_path, :class => "btn btn-default" %>
</div>
</div>
