<div id="container" style="width:35%">
<h3>Erstellen eines neuen Meetings</h3>

<p>

<%= render 'form' %>

</br>
<%= link_to 'Zurück zum Dashboard', home_path, :class => "btn btn-default" %>
</p>
</div>
