#container.login{
margin-top: 15%;
  width: 25%;
  padding: 15px 15px;
  }

#container.field{
  max-width: 100%;
}

#container #notice {

  font-family: 'Lato', sans-serif;
  background: #00B205;
  border-radius: 10px;
  text-align: center;
  color: black;
}

#container-input {
    max-width:100%;
    clear:both;
  }

  #container-forms {
    width: 100%;
    margin: 0 auto;
    background-color: #FFF;
    padding: 10px 10px;
    border: none;
    margin-top: 10px;
  }
