<div id="container" >
<h1>Editieren des Kontakts</h1>

<%= render 'form' %>

<div align="center" ><%= link_to 'anzeigen', contact_contactpsn_path(@contact, @contactpsn), :class => "btn btn-default" %> |
<%= link_to 'zurück', contact_contactpsns_path(@contact) ,:class => "btn btn-default"%></div>
<br>
<div align="center" ><%= link_to 'Zurück zum Dashboard', home_path, :class => "btn btn-default" %></div>
</div>
