<div id="container" >

<h3>Erstellen eines neuen Kontaktperson für < <%= @contact.contact_name %> ></h3>
<%= render 'form' %>

<div align="center" ><%= link_to 'Zurück', contact_contactpsns_path(@contact), :class => "btn btn-default" %></div>
<br>
<div align="center" ><%= link_to 'Zurück zum Dashboard', home_path, :class => "btn btn-default" %></div>

</div> <!-- container -->
