<div id="container" >

<h3>Erstellen eines neuen Kontaktperson für < <%= @contact.name %> ></h3>
<%= render 'form' %>
<%= link_to 'Zurück', contact_contactpsns_path(@contact) %>

</div> <!-- container -->
