<div id="container" >

<h3>Erstellen einer neuen Person für den Kontakt < <%= @contact.contact_name %> ></h3>
<%= render 'form' %>
<br>
<div align="center" ><%= link_to 'Zurück', contact_contactpsns_path(@contact), :class => "btn btn-default" %> |
<%= link_to 'Zurück zum Dashboard', home_path, :class => "btn btn-default" %></div>

</div> <!-- container -->
